<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliuliu.model.dao.TestDao">

    <resultMap id="base_student" type="com.liuliuliu.model.entity.Student">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
    </resultMap>

    <sql id="student_sql">
        name, age
    </sql>

    <sql id="user_sql">
        username, password,account_non_expired,account_non_locked,enabled,realname,age,mobile
    </sql>
    
    <select id="queryStudent" parameterType="com.liuliuliu.model.entity.Student" resultMap="base_student">
        select id,
          <include refid="student_sql"></include>
        from student
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="age != null">
                and age = #{age}
            </if>
        </where>
    </select>

    <update id="updateNameById" parameterType="com.liuliuliu.model.entity.Student" >
        update student set name = #{name}
        where id = #{id}
    </update>

</mapper>